@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-header-500: #242934;
  --color-header-logo-500: purple;
  --color-footer-600:#2c313c;
  --color-footer-500: #92969d;
  --color-footer-text-500: #92969d;
}

